[submodule "lain"]
	path = lain
	url = git://github.com/copycat-killer/lain.git
[submodule "obvious"]
	path = obvious
	url = https://github.com/sergeyklay/obvious.git
[submodule "vicious"]
	path = vicious
	url = https://github.com/Mic92/vicious.git
